*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	color: #333;
	background: #fff;
	overflow: hidden;
}

.pt-page {
	padding: 50px;
}

.gradient {
  background: linear-gradient(120deg, rgba(0, 0, 255, 0.25), rgba(255, 0, 0, 0.25));
}

.pt-page-2 .gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 25px;
	width: 100%;
}

.pt-page-3 .gradient {
	position: absolute;
	top: 0;
	left: 995px;
	height: 100%;
	width: 6px;
}

.pt-page-3 svg:first-of-type {
	margin-left: -57px;
}
.pt-page-3 svg circle {
	cursor: pointer;
}

.tooltip {
	background: white;
	padding: 4px;
}

.pt-page-3 svg:not(:first-of-type) {
	position: absolute;
	left: 1050px;
	transform: translate(0, -50%);
	opacity: 0.7;
}

.pt-page-3 svg.friends {
	top: 240px;
}
.pt-page-3 svg.newsfeed {
	top: 515px;
}

text {
	text-transform: capitalize;
}


.node-line {
  stroke: #333;
  stroke-width: 1.5px;
  stroke-opacity: 0.3;
}

h1 {
	font-family: 'Playfair Display', serif;
	letter-spacing: 0.025em;
	margin: 0;
}

.button {
	font-family: 'Playfair Display', serif;
	letter-spacing: 0.025em;
}

h5 {
	margin-top: 0.5em;
}

h5, p, text {
	font-family: 'Karla', sans-serif;
	letter-spacing: 0.05em;
	font-size: 14px;
	line-height: 21px;
}

#load-spinner {
	position: absolute;
	left: 25%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.col-left {
	position: absolute;
	left: 50px;
	width: 45%;
	max-width: 500px;
}
.col-right {
	position: absolute;
	left: 50%;
	width: 45%;
	max-width: 500px;
}

.area2 {
	fill: rgba(114, 255, 249, 0.1)
}

.button {
  position: relative;
  display: inline-block;
  padding: 6px;
  cursor: pointer;
}
.button:before, .button:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
  
}
.button:before {
  top: -3px;
  width: 3px;
  background-image: linear-gradient(120deg, rgba(0, 0, 255, 0), rgba(0, 0, 255, 0.25));
}
.button:after {
  right: -3px;
  height: 3px;
  background-image: linear-gradient(120deg, rgba(255, 0, 0, 0.25), rgba(255, 0, 0, 0));
}
.button:active:before {
  background-image: linear-gradient(120deg, rgba(0, 0, 255, 0.25), rgba(0, 0, 255, 0));
}
.button:active:after {
  background-image: linear-gradient(120deg, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.25));
}

a {
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
  top: 0;
}

a:active, a:visited, a:hover {
	color: inherit;
}

a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(120deg, rgba(0, 0, 255, 0.25), rgba(255, 0, 0, 0.25));
 }

 a:hover {
 	top: -2px;
 }
 a:hover::after {
  height: 3px;
 }