*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	color: #333;
	background: #fff;
	overflow: hidden;
}

.row {
	padding: 50px;
}

.gradient {
  background: linear-gradient(120deg, rgba(0, 0, 255, 0.2), rgba(255, 0, 0, 0.2));
}

.pt-page-1 svg#home-animation {
  margin-top: 200px;
}

.pt-page-2 .gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 25px;
	width: 100%;
}

.pt-page-3 .col-xs-8 .border-wrap {
  position: absolute;
  right: 0;
  width: 5px;
  height: calc(100vh - 100px);
  z-index: -1;
}

.pt-page-3 svg circle {
	cursor: pointer;
}

.pt-page-3 .chart {
  margin-top: 50px;
}

@media (max-height: 550px) {
  .pt-page-3 .chart {
    margin-top: 10px;
    height: 50vh;
  }
  .pt-page-3 .pie {
    height: 45vh;
  }
}

.chart-tooltip {
	background: white;
  color: #333;
	padding: 4px;
}

.pt-page-3 .pie {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 180px;
  max-height: 270px;
  padding-left: 10px;
}

text {
	text-transform: capitalize;
}

.node-line {
  stroke: #222;
  stroke-width: 1.5px;
  stroke-opacity: 0.1;
}

h1 {
	font-family: 'Playfair Display', serif;
	letter-spacing: 0.025em;
	margin-top: 0;
}

h5 {
	margin-top: 0.5em;
}

h5, p, text {
	font-family: 'Karla', sans-serif;
	letter-spacing: 0.05em;
	font-size: 14px;
	line-height: 21px;
}

.politecho {
	display: inline-block;
	width: 30%;
	color: #840094;
}

#load-spinner {
	position: absolute;
	left: 50%;
  top: 200px;
	top: 40vh;
	transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  #load-spinner {
    top: 500px;
    top: 60vh;
    transform: translate(-50%, -50%);
  }
}

.chart {
  width: 100%;
}

.area2 {
	fill: rgba(114, 255, 249, 0.1)
}

.button {
  position: relative;
  display: inline-block;
  padding: 6px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.025em;
  -webkit-border-image: none;
}
.button:hover {
  -webkit-border-image: none; 
}
.button:before, .button:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
  
}
.button:before {
  top: -3px;
  width: 3px;
  background-image: linear-gradient(120deg, rgba(0, 0, 255, 0), rgba(0, 0, 255, 0.25));
}
.button:after {
  right: -3px;
  height: 3px;
  background-image: linear-gradient(120deg, rgba(255, 0, 0, 0.25), rgba(255, 0, 0, 0));
}
.button:active:before {
  background-image: linear-gradient(120deg, rgba(0, 0, 255, 0.25), rgba(0, 0, 255, 0));
}
.button:active:after {
  background-image: linear-gradient(120deg, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.25));
}

a {
  color: inherit;
  position: relative;
  padding-bottom: 2px;
  text-decoration: none !important;
  top: 0;
  -webkit-border-image: 
           -webkit-linear-gradient(left, rgba(0, 0, 255, 0.25) 1%,rgba(255, 0, 0, 0.25) 100%) 0 0 100% 0/0 0 1px 0 stretch;
}

a:active, a:visited, a:hover {
  color: inherit;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-border-image: 
           -webkit-linear-gradient(left, rgba(0, 0, 255, 0.25) 1%,rgba(255, 0, 0, 0.25) 100%) 0 0 100% 0/0 0 2px 0 stretch;
}

 .progress-bar {
	 background-color: black;
	 width: 0;
	 height: 1px;
 }

.js-share-fb-progress {
  margin-left: 0.3em;
  color: #777;
  display: inline-block;
}

/* https://codepen.io/thetallweeks/pen/yybGra?css-preprocessor=sass */
.js-share-fb-progress--animate:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}
